**Сбербанк, Работа с данными на Python. Толстиков Валентин**

# Домашнее задание (парсинг фильмов)

* Сайт: https://www.kinopoisk.ru/lists/top250/


* a. Спарсить название фильмов из топ-250.
* b. Спарсить рейтинг фильмов
* c. Спарсить отзывы (необязательно)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
films = {'titles': [], 'ratings': []}

for page in range(1, 6):
    url = 'https://www.kinopoisk.ru/lists/top250/?page={}&tab=all'.format(page)
    with requests.Session() as session:
        html = session.get(url).text
        try:
            soup = BeautifulSoup(html, 'html.parser')

            titles = soup.find_all('p', {'class': 'selection-film-item-meta__name'})
            films['titles'].extend([x.text for x in titles])

            ratings = soup.find_all('span', {'class': 'rating__value_positive'})
            films['ratings'].extend([float(x.text) for x in ratings])

        except Exception as e:
            print(e)
            continue

In [3]:
films = pd.DataFrame(films, index=range(1, len(films['titles']) + 1))
films

                                  titles  ratings
1                      Побег из Шоушенка      8.9
2                           Зеленая миля      8.9
3    Властелин колец: Возвращение короля      8.8
4          Властелин колец: Две крепости      8.8
5       Властелин колец: Братство Кольца      8.7
..                                   ...      ...
246                            Марли и я      7.9
247                       Грань будущего      7.9
248            Гарри Поттер и Кубок огня      7.9
249                      Заплати другому      7.9
250                            Одарённая      7.9

[250 rows x 2 columns]